.event-card {
  border: 1px solid black;
  width: 500px;
  margin: 20px auto;
  text-align: center;
}

.event-image {
  height: 300px;
  background-position: center;
}

.attendee-list {
  list-style-type: none;
  padding: 0;
}

em {
  font-style: italic;
}
